body, html {
    height: 100%;
    width: 100%;
}

html {
    font-family: Merriweather,'Helvetica Neue',Arial, sans-serif;
}
.heading-container{
    margin-top:80px !important;
    padding: 0px 40px !important;
}
.main-container{
    margin-bottom:30px !important;
    padding: 0px 40px !important ;
}
/* h1,h2,h3,h4,h5,h6 {
    font-family:'Open Sans','Helvetica Neue',Arial,sans-serif;
    padding: 4rem 0;
} */

ul {
    text-align: center;
}

ul li {
    list-style: none;
    display: block;
}

nav {
    background-color: ghostwhite;
    text-align: center;
}

nav li {
    margin: 0 auto;
    list-style: none;
    text-align: center;
}

nav a {
    font-family: Arial, sans-serif;
    font-weight: bold;
}

#Main {
    height: auto;
    background-position: center center;
    background-image: url(../img/mars-back.jpg);
    background-attachment: fixed;
}

section {
    padding: 4rem 0;
}

.btn {
    font-family:'Open Sans','Helvetica Neue',Arial,sans-serif;
/*    border-radius: 5%;*/
}